body {
        font-size: 16px;
        color: #fff;
        background-color: #61122f;
        font-family: 'Oxygen', sans-serif;
      }
      
      /** HEADER **/
      #header-nav {
        background-color: #f6b319;
        border-radius: 0;
        border: 0;
      }
      
     
      .navbar-brand {
        padding-top: 25px;
      }
      
      .navbar-brand h1 { /* Restaurant name */
        font-family: 'Lora', serif;
        color: #557c3e;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
      }
      .navbar-brand a:hover,a:link{
        text-decoration:none;
      }

  

      
#nav-list {
             margin-top: 20px;
             text-align: center;
      
      }
      #nav-list a {
        
        color: #951C49;
        text-align: center;
        
        margin-left: 10px;
        margin-right: 10px;
        
      }

      #nav-list li{
        height: 60px;
      }



      #nav-list li:hover {
        background: #E7E7E7;
        
      }

      #nav-list a span {
        font-size: 1.8em;
        
      }
      
      
      .navbar-header button.navbar-toggler {
        border: 1px solid #61122f;
      }
      .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -30px;
      }
      /* END HEADER */
      
      @media (min-width: 1200px) {

      }
      
      /********** Medium devices only **********/
      @media (min-width: 992px) and (max-width: 1199px) {
        /* Header */
        
        /* End Header */
      }
      
      /********** Small devices only **********/
      @media (min-width: 768px) and (max-width: 991px) {
      
        #collapsable-nav a span{ /* Collapsed nav menu text */
          font-size: 1.2em;
          text-align:center;
        }
      
        .navbar-toggler{
          float: right;
        }
        

      }
      
      /********** Extra small devices only **********/
      @media (max-width: 767px) {
        /* Header */
        .navbar-brand {
          padding-top: 10px;
          /*height: 80px;*/
        }
        .navbar-brand h1 { /* Restaurant name */
          padding-top: 10px;
          /*font-size: 5vw; /* 1vw = 1% of viewport width */
        }
        
        
        #collapsable-nav a { /* Collapsed nav menu text */
          font-size: 1.2em;
        }
        
        .navbar-toggler{
          float: right;
          font-size: 1em;
        }
        
        /* End Header */
      
      }     



      /*My */
      #menu{
        margin-top: 20px;
        text-shadow: #E7E7E7;
        font-size: 25px;
        font-weight: bold;
        color: greenyellow;
        padding: 20px;
        
      }

      h2{
        margin-top: 20px;
        background-color: gray;
        border: darkgrey;
        font-size: 20px;
        color: darkorange;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
      }
      .desc{
        
        background-color: gray;
        border: darkgrey;
        font-size: 16px;
        color:black;
        text-decoration: none;
        padding: 10px;
      }

      .navbar-header{
        width: 100%;
      }

      